@charset "UTF-8";
/* CSS Document */

	body {
			background-color:#22232B;
			background-image:url();
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center;
			background-size:cover;
			overflow:hidden;			
			position: static;
			overflow:scroll;
		
			}
	h1 {
		float: left;
		margin: 0;
		color: #FFF;
		text-shadow: 0 0 50px #000;
		letter-spacing:5px;
		size:;
		}
	#logo {
		width:250px;
		float:left;
		background:#7F818B;
		position:relative;
		bottom:10px;
		right:5px;
		opacity:1;
		
	}
	
	#box-logo{
		width:255px;
		height:165px;
		background:#55FF00;
		position:relative;
		bottom:180px;
		right:5px;
		opacity:0.9;
	}
	#nav-side{
		float:left; 
		height: 300px; 
		width:150px;
		overflow:scroll;
		background-color:#4F4E39;
		position:relative; 
		left:10px;
		opacity:1;
		
	}
		#box-logo2{
		width:260px;
		height:165px;
		position:relative; 
		background:#4F4E39;
		opacity:1;
	}
	
	header {
		color: #FFF;
		text-shadow: 0 0 10px #000;
		height:40px;
	}
	
			
#page-container {
			width:1000px;
			margin: 0 auto;
			height:925px;
			background-color:#F1F2FB;
			padding-right:20px;
			padding-left:20px;
			border-radius: 20px;
			opacity:0.9;
}
nav {
			padding: 10px 10px 40px 10px;
			background-color:#7F818B;
			border-top-left-radius: 20px 20px;
			border-top-right-radius: 20px 20px;
			border-bottom-left-radius: 10px 10px;
			border-bottom-right-radius: 10px 10px;
}

nav ul 			{
				list-style-type:none;
				margin:0;
				padding:0;
				position:relative;
				bottom:130px;
				
				}
				nav li {
					float:left;
					padding:20px;
					
				}
				nav a {
					
					display: block;
					width:130px;
					text-align:center;
					color: #FFF;
					text-shadow: 0 0 10px #000;
					
				}
				nav li ul {
					position: absolute;
					left:-9999px;
					bottom:145px;
					width:200px;
					color: #FFF;
					text-shadow: 0 0 px #000;
				}
				nav li:hover ul {
					left:auto;
					background-color:#7F818B;
				}
		
		header h2 {
			text-align:center; 
		}
		
section {
		
		height: 500px;
		padding: 20px;
		margin: 0 5px 0 0;
		float: left;
		width:400px;
		color: #FFF;
		text-shadow: 0 0 10px #000;
		position:relative; 
		bottom:40px;
		right:250px;
		background-color:#4F4E39;		
		opacity:0.8;
	}
	article{
		height: 600px;
		width:530px;
		background-color:#4F4E39;
		padding: 0;
		float: right;
		text-align:center;
		color: #FFF;
		text-shadow: 0 0 10px #000;
		position:relative;
		bottom:580px;
		opacity:0.8;
	}
	article img {
		width:200px;
		height:200px;
		float: left;
	}
	
	footer {
		outline:2px dotted red;
		
	}

	
	
	
	

